
<div class="panel panel-primary">
  <% @symptoms.each do |symptom| %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= symptom.s_name  %></h3>
  </div>
    <% symptom.details.each do |detail| %>
      <div class="panel-body">
  		<%=link_to detail.detail_name , new_building_mainpart_material_symptom_detail_part_path(building_id: params[:building_id],
  		    mainpart_id: params[:mainpart_id],
  		    material_id: params[:material_id],
  		    symptom_id: symptom.id ,detail_id: detail.id) %>
          <%= detail.condition %>
          <%= detail.treatment %>
      </div>
      <% end %>
  <% end %>
</div>