/*table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 25%;
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 0px);
  right: 0px;
  border-left: 0px solid #000080;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}


table td{
  text-align: left;
  width: 70%;
  background-color: #eee;
  padding: 1% 5%;
}

*/